#text {
    text-align: justify;
    padding: 5px;
    font-family: "Times New Roman";

    font-style: italic;
    font-size: 14pt;
}

body {

    margin: 0;
}
#page {
    flex-direction: row;
    display: flex;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}
div button {
    /* по-умолчанию для <button>, но пригодится для <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /* невидимая граница (понадобится для цвета при наведении/фокусе) */
    border: solid 2px black;
    border-radius: 7px;
    /* размер строится из текста и отступов (без width/height) */
    padding: 0.5em 1em;
    /* убедитесь, что достаточно контраста! */
    color: #ffffff;
    background:linear-gradient(90deg,#5663ff, #46f530);
    width: 90%;
}
div button:active {
    transform: translateY(1px);
    filter: saturate(70%);
}
div button:hover {
    /*transform: translateY(1px);*/
    /*filter: saturate(120%);*/
    color: #f0f00e;
}

a:hover {
    color:white;
    text-decoration: underline;
}
/*.buttons {*/
/*    text-align: center;*/
/*    font-family: "Times New Roman";*/
/*    min-width: 100px;*/

/*}*/
.red{
    background:linear-gradient(90deg, #ff0000,#FFA500);
}
.orange{
    background:linear-gradient(90deg,#FFA500,#FFFF00);
}
.yellow{
    background:linear-gradient(90deg,#FFFF00,#7CFC00);
}
.green{
    background:linear-gradient(90deg,#7CFC00,#00BFFF);
}
.blue{
    background:linear-gradient(90deg,#00BFFF,#0000FF);
}
.darkBlue{
    background:linear-gradient(90deg,#0000FF,#FF00FF);
}
.violet{
    background:linear-gradient(90deg,#FF00FF,#ff0000);
}
.std{
    background: linear-gradient(90deg,#ff2c37,#FFF);
}
#col1 {
    border-right:solid white;
    width: 25%;
    height: auto;
    /*background: #FFF;*/
    text-align: center;
}
#col2 {
    border:none;
    width: 50%;
    height: auto;
    background: linear-gradient(90deg,#FFF,#FFF200);
}

#col3 {
    border-left:solid white;
    width: 25%;
    height: auto;
    background: linear-gradient(90deg,#FFF200,#00FFFF);
    text-align: right;
}

img {
    padding: 10px;
}

#jobs {
    width: 25%;
    height: 25%;
    float: right;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}

#apple {
    width: 25%;
    height: 25%;
    float:left;

}

#baseApple {
    width: 50%;
    height: 50%;
    float: left;
}
#lang {
    color: #ffffff;
    background-color: black;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 10px;

}
#lang:active {
    transform: translateY(1px);
    color: black;
    background-color: white;
}


